<img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/9b21aa66b4922ae2.png" class="first-img" alt="">
<section class="bg-[#eee]">
    <mat-card class="">
<form class="example-form">
        <h2 style="color: #3f51b5;">Get In Touch</h2>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input type="email" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput></textarea>
          </mat-form-field> 
    </div>
    <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
    
</form>

    </mat-card>
</section>
<!-- <section class="flex justify-center">
    <div class="flex h-[70hv]">
        <div>
            <img src="https://source.unsplash.com/1600x900/?food" alt="" class="w-full">
        </div>
        <div class="w-1/2">
            <form action="" class="flex flex-col text-2xl p-5">
                <h1 class="font-bold">Contact Us Today</h1>

                <div class="flex flex-col my-2">
                    <label for="" class="font-thin text-sm">Name</label>
                    <input type="text" name="" id="" class=" border-b border-b-[#333] outline-none p-1">
                </div>
                <div class="flex flex-col my-2">
                    <label for="" class="font-thin text-sm">Email</label>
                    <input type="email" name="" id="" class=" border-b border-b-[#333] outline-none p-1">
                </div>
                <div class="flex flex-col my-2">
                    <label for="" class="font-thin text-sm">Phone Number</label>
                    <input type="tel" name="" id="" class=" border-b border-b-[#333] outline-none p-1">
                </div>
                <div class="flex flex-col my-2">
                    <label for="" class="font-thin text-sm">Message</label>
                    <textarea name="" id="" cols="30" rows="5" class=" border border-b-[#333] outline-none p-1"></textarea>
                </div>

                <div class="text-center p-5 mt-auto">
                    <button mat-raised-button color="warn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</section> -->
