<section class="flex justify-center">
    <div class="flex h-[70hv]">
        <div>
            <img src="https://source.unsplash.com/1600x900/?food" alt="" class="w-full">
        </div>
        <div class="w-1/2">
            <form action="" class="flex flex-col text-2xl p-5">
                <h1 class="font-bold">Contact Us Today</h1>

                <div class="flex flex-col my-2">
                    <label for="" class="font-thin text-sm">Name</label>
                    <input type="text" name="" id="" class=" border-b border-b-[#333] outline-none p-1">
                </div>
                <div class="flex flex-col my-2">
                    <label for="" class="font-thin text-sm">Email</label>
                    <input type="email" name="" id="" class=" border-b border-b-[#333] outline-none p-1">
                </div>
                <div class="flex flex-col my-2">
                    <label for="" class="font-thin text-sm">Phone Number</label>
                    <input type="tel" name="" id="" class=" border-b border-b-[#333] outline-none p-1">
                </div>
                <div class="flex flex-col my-2">
                    <label for="" class="font-thin text-sm">Message</label>
                    <!-- <input type="text" name="" id="" class=" border-b border-b-[#333] outline-none p-1"> -->
                    <textarea name="" id="" cols="30" rows="5" class=" border border-b-[#333] outline-none p-1"></textarea>
                </div>

                <div class="text-center p-5 mt-auto">
                    <button mat-raised-button color="warn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
