<div>
    <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/9b21aa66b4922ae2.png" class="first-img" alt="">
    <div class="about">
        <p class="text-center text-7xl" style="color: #3f51b5;">About Us</p>

        <p class="text-lg p-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus nihil quisquam non perspiciatis,
            officia quas porro, ipsum dolorem expedita a quod, aperiam praesentium iste! Quis possimus dolor
            voluptatibus ad reprehenderit, corporis atque ullam ea optio, aliquam quo dolorum laudantium voluptate omnis
            dicta molestias nulla non eius sapiente officiis, facere modi numquam? Id fuga beatae aut et dolorem
            perspiciatis, odio corporis ratione praesentium temporibus maiores molestias obcaecati, amet dolore placeat
            laudantium? Esse nihil ea praesentium vel deserunt voluptas possimus, qui tenetur libero sit pariatur
            perferendis laborum. Pariatur numquam itaque laboriosam enim quo accusantium accusamus, ipsam illum. Ratione
            non velit nihil blanditiis.
        </p>
    </div>
</div>
<!-- <iframe src="https://www.google.com/maps/d/u/0/viewer?gl=us&ie=UTF8&oe=UTF8&msa=0&mid=1SunlfLhyBbZKPKOs1omDFdkytiI&ll=18.244222880155597%2C-77.564999840916&z=9" title="W3Schools Free Online Web Tutorials">
    </iframe> -->
<!-- <div class="w-[80%] m-auto p-10">
        <img src="https://www.dolphincoveja.com/Content/media/map-home.png" alt="">
    </div> -->
<div class="mapouter">
    <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
            src="https://maps.google.com/maps?q=Amber&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            scrolling="no" marginheight="0" marginwidth="0"></iframe><a
            href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a><br>
        <style>
            .mapouter {
                text-align: right;
                height: 500px;
                width: 600px;
            }
        </style><a href="https://www.embedgooglemap.net">iframe html generator</a>
        <style>
            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 600px;
            }
        </style>
    </div>
</div>