<section class="flex justify-center">
    <div class="flex h-[70hv]">
        <div>
            <img src="https://source.unsplash.com/1600x900/?food" alt="" class="w-full">
        </div>
        <div class="w-1/2 p-5">
            <h1 class="text-5xl font-bold text-center">About Us</h1>
            <p class="text-xl p-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus nihil quisquam non perspiciatis, officia quas porro, ipsum dolorem expedita a quod, aperiam praesentium iste! Quis possimus dolor voluptatibus ad reprehenderit, corporis atque ullam ea optio, aliquam quo dolorum laudantium voluptate omnis dicta molestias nulla non eius sapiente officiis, facere modi numquam? Id fuga beatae aut et dolorem perspiciatis, odio corporis ratione praesentium temporibus maiores molestias obcaecati, amet dolore placeat laudantium? Esse nihil ea praesentium vel deserunt voluptas possimus, qui tenetur libero sit pariatur perferendis laborum. Pariatur numquam itaque laboriosam enim quo accusantium accusamus, ipsam illum. Ratione non velit nihil blanditiis.
            </p>
        </div>
    </div>
</section>

<section>
    <!-- <iframe src="https://www.google.com/maps/d/u/0/viewer?gl=us&ie=UTF8&oe=UTF8&msa=0&mid=1SunlfLhyBbZKPKOs1omDFdkytiI&ll=18.244222880155597%2C-77.564999840916&z=9" title="W3Schools Free Online Web Tutorials">
    </iframe> -->
    <div class="w-[80%] m-auto p-10">
        <img src="https://www.dolphincoveja.com/Content/media/map-home.png" alt="">
    </div>
</section>