
<section class="bg-[#eee]">
<section class="w-[95%] m-auto"> 
        <!-- <label>
            Sort By:
            <select type="number" [(ngModel)]="sort" (change)="product_load()">
            <option value="id" selected>ID</option>
            <option value="price">PRICE</option>
            </select>
        </label> -->

      <mat-form-field appearance="fill" class="m-5">
        <mat-label>Sort By</mat-label>
        <select matNativeControl [(ngModel)]="sort" (change)="product_load()">
          <option value="id">Id</option>
          <option value="price">Price</option>
        </select>
      </mat-form-field>
      
        <mat-checkbox [(ngModel)]="asc" (change)="product_load()" color="primary">Ascending</mat-checkbox>
    
    </section>
    <section class="w-[90%] m-auto">

       
         
         

    <h1 class="text-center pb-10" style="color: #3f51b5;">Product Listing</h1> 
<div class="grid grid-cols-4 gap-8">
    <mat-spinner *ngIf="products.length === 0"></mat-spinner>
    <mat-card *ngFor="let product of products | paginate: { itemsPerPage: 4, currentPage: page, totalItems: totalLength }">
        <mat-card-header>
            <mat-card-title style="color: #3f51b5;">{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price}} $/ {{product.quantitiy}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p style="height: 90px;">
                {{product.description}}
            </p>
            <img src="{{ product.imageUrl }}" height="200px" width="100%">
        </mat-card-content>
        <mat-card-actions>
           <button mat-raised-button color="primary" routerLink="/product/{{product.id}}">View Meal</button>
       </mat-card-actions>
    </mat-card>
</div>
<div class="p-20 text-xl">
<pagination-controls (pageChange)="page = $event" ></pagination-controls>
</div>
</section>
</section>

