<!-- <section class="bg-[#eee]">
    
<section class="w-[90%] m-auto">
    <h1 class="text-center py-10">Product Listing</h1>

    <div class="grid grid-cols-4 gap-5">
        <div *ngFor="let prod of products" class="border shadow-md p-3 bg-white flex flex-col">
            <h1 class="text-3xl font-bold ">{{prod.name}}</h1>
            <div>
                <img src="{{prod.imageUrl}}" alt="">
            </div>
            <div>
                <p>{{prod.description}}</p>
            </div>
            <div class="mt-auto">
                <a 
                routerLink="/product/{{prod.id}}"
                mat-raised-button color="primary"
                >BUY NOW</a>
            </div>
        </div>

    </div>
</section> -->

<!-- </section> -->
<section class="bg-[#eee]">
<section class="w-[95%] m-auto">
    <h1 class="text-center py-10" style="color: #3f51b5;">Product Listing</h1> 
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
<div class="grid grid-cols-4 gap-8">
    <mat-spinner *ngIf="products.length === 0"></mat-spinner>
    <mat-card *ngFor="let product of products | paginate: { itemsPerPage: 12, currentPage: p }">
        <mat-card-header>
            <mat-card-title style="color: #3f51b5;">{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price}} $/ {{product.quantitiy}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p style="height: 90px;">
                {{product.description}}
            </p>
            <img src="{{ product.imageUrl }}" height="200px" width="100%">
        </mat-card-content>
        <mat-card-actions>
           <button mat-raised-button color="primary" routerLink="/product/{{product.id}}">View Meal</button>
       </mat-card-actions>
    </mat-card>
</div>
</section>
</section>

