<section class="flex h-full justify-center items-start bg-[#eee]">
    <div class="border px-20 py-5 shadow-md bg-white mt-20 text-center">
        <div class="flex justify-center">
            <img src="https://c.tenor.com/dPkeyhNQYuEAAAAj/dm4uz3-foekoe.gif" alt="confetti">
        </div>
        <h1 class="text-5xl font-extrabold tracking-widest text-blue-600 uppercase"><b>Order completed successfully!</b></h1>
        <div>
            <p class="text-[#666]">You will be recieving a confirmation email with order details.</p>
        </div>
        <div class="flex justify-center">
            <a routerLink="/" class="border-2 text-blue-600 border-blue-600 rounded-full px-5 py-3 flex items-center gap-2 w-fit">
                <mat-icon>explore</mat-icon>
                <b>Explore more foods</b>
            </a>
        </div>
    </div>
</section>